<{% extends base.html %}

{% load static from staticfiles %}
{% block linkscript %}

<link href="{% static 'css/myself/register.css' %}">
<script type="text/javascript" src="{% static 'mine/js/login.js' %}" ></script>

{% endblock linkscript %}


{% block base %}

<div id="register">
    <div id="header">
        <a href="/myself/">Back</a>
    </div>
    <form class="form-horizontal" action="/register/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group">
            <span class="input-group-addon">Account</span>
            <input type="text" id="account" class="for-control" placeholder="8number" aria-describedby="basic-addon1" name="userAccount">
        </div>
        <span id="accounterror" class="error">The account has wrong</span>
        <span id="checkerr" class="error">The accounter is exit, Please input again</span>
        <br>
        <div class="input-group">
            <span class="input-group-addon">Password</span>
            <input type="password" id="passwd" class="for-control" placeholder="6~16 string" aria-describedby="basic-addon1" name="userPasswd">
        </div>
        <span id="passwderr" class="error">The password is wrong, Please check again</span>
        <br>
        <div class="input-group">
            <span class="input-group-addon">Password Again</span>
            <input type="password" id="passwd1" class="for-control" placeholder="6~16 string" aria-describedby="basic-addon1" name="userPasswd">
        </div>
        <span id="passwderr1" class="error">The password again is wrong, Please check again</span>
        <br>
        <div class="input-group">
            <span>Nickname</span>
            <input type="text" required="required" class="form-control" aria-describedby="basic-addon1" name="userName">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">Phone</span>
            <input type="text" required="required" class="form-control" aria-describedby="basic-addon1" name="userPhone">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">Address</span>
            <input type="text" required="required" class="form-control" aria-describedby="basic-addon1" name="userAddress">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">Portrait</span>
            <input type="file" required="required" class="form-control" aria-describedby="basic-addon1" name="userImg">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">Register</span>
            <input type="submit" class="form-control" aria-describedby="basic-addon1" value="Register">
        </div>
    </form>
</div>

{% endblock base %}