{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-3.3.7.min.css' %}">
    <script type="text/javascript" src="{% static 'js/bootstrap-3.3.7.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.2.0.min.js' %}"></script>

    {% block linkscript %}
	{% endblock linkscript %}
</head>
<body>

    <header></header>


    <div>
    	{% block base %}
        {% endblock base %}
    </div>

    <footer>
        <a class="home" href="/home/">
    		<dl>
    			<dt><span></span></dt>
    			<dd>Home</dd>
    		</dl>
    	</a>
    	<a class="search" href="/search/">
    		<dl>
    			<dt><span></span></dt>
    			<dd>search</dd>
    		</dl>
    	</a>
    	<a class="history" href="/history/">
    		<dl>
    			<dt><span></span></dt>
    			<dd>history</dd>
    		</dl>
    	</a>
    	<a class="mine" href="/mine/">
    		<dl>
    			<dt><span></span></dt>
    			<dd>Mine</dd>
    		</dl>
    	</a>
    </footer>
</body>
</html>