.f-ib{
    background-image: url(http://iconsetc.com/icons-watermarks/flat-circle-white-on-black/bfa/bfa_brands-weibo/bfa_brands-weibo_flat-circle-white-on-black_32x32.png);
    background-size: 600px auto;
    display: inline-block;
}